// ══════════════════════════════════════════════════════════
// Colors
// ══════════════════════════════════════════════════════════

$black:   #000000;
$white:   #FFFFFF;
$red: #F32F0A;
$light:  #C3AD89;
$brown:    #5F1211;
$darkBlue:#07151F;
$blue: #202F3C;
$grey: #90979C;

// ══════════════════════════════════════════════════════════
// Font families
// ══════════════════════════════════════════════════════════

$unbounded:  "Unbounded", "Arial", sans-serif;
$tektur:  "Tektur", "Arial", sans-serif;
